body{
  background-image: url("../images/canvas.jpg");
  /*background-size: cover;*/
}
#header{
  margin: 0 0 20px 50px;
  padding: 0;
}
h1{
  font-family: "Arial", Gadget, sans-serif;
  color: white;
  text-shadow: 2px 3px 8px #222;
  font-size: 60px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: rgb(48,115,144);
   padding: 10px;
   margin: 0;
}
p{
  font-size: 16px;
  line-height: 130%;
}
#box{
  display: inline-flex;
  margin-left: 15%;
}
#my-pic{
  display: inline;
  width: 412px;
  height: 548px;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, .5);
}
#content-box{
  display: inline;
  padding: 15px;
  padding-right: 10px;
  padding-bottom: 0;
  margin-left: 15px;
  color: white;
  background:rgba(30,30,30,0.9);
  box-shadow: 3px 4px 6px rgba(0, 0, 0, .5);
  width: 467px;
}
.content{
  height: 474px;
  overflow-y: auto;
  margin-bottom: 17px;
}
h2{
  font-family: Georgia;
  font-size: 30px;
  margin-top: 0;
  margin-right: 10px;
  padding: 5px;
  border-bottom: 1px inset white;
}
.content-display{
  margin-left: 29px;
}
h3{
  margin: 0 0 10px 20px;
  font-size: 23px;
}
h4{
  display: inline;
}
p{
  margin: 0 15px 0 20px;
}
.content::-webkit-scrollbar {
    width: 5px;
}
 
.content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,8,0,1);
}
 
.content::-webkit-scrollbar-thumb {
  background-color: rgba(100,100,100,.6);
  outline: 1px solid slategrey;
}
#nav-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0 0 0;
}
.nav-btn-off{
  color: white;
  background: inherit;
  border: 1px ridge white;
  padding: 5px;
  font-size: 11px;
  padding: 5px 12px 5px 12px;
}
.nav-btn-on{
  color: #222;
  border: 1px ridge white;
  padding: 5px;
  background:rgba(250,250,250,0.9);
  font-size: 11px;
  padding: 5px 12px 5px 12px;
}
.slide-btn{
  position: relative;
  bottom: 92px;
  padding-top: 5px;
}
#portfolio{
  display: none;
}
#portfolio-image{
  width: 320px;
  height: 176px;
  margin: 10px;
}
#resume{
  display: none;
  overflow: auto;
}
#contact{
  display:none;
}
.content-head{
  margin-top: 20px;
}
.content-item{
  color: white;
  font-size: 18px;
  margin-left: 40px;
}
.content-subitem{
  color: white;
  font-size: 14px;
  margin: 10px 0 10px 50px;

}
